$primary-blue: #44526f;
$yellow: #fedb65;
$white-overlay: #e9ecef00;

/* Show it is fixed to the top */
body {
  min-height: 75rem;
  /*padding-top: 4.5rem;*/
  font-family: 'BrixSansRegular';
}


h1, h2, h3, h4 {
  color: #000;
}

.navbar-nav {
    margin-top: 25px;
}

a.nav-link {
    margin-left: 72px;
    color: #FFF !important;
    font-size: 26px;
    font-weight: lighter;
}

.intro-jt {
  background: linear-gradient(transparent 47%, #FFF 47%), url("../images/header-image.jpg") !important;
  background-size: cover !important;
}

.strong-heading {
  text-transform: uppercase;
  font-weight: bold;

    &.intro-heading {
      margin: 285px 0 1px 0;
      font-size: 4.50rem;
    }

}

.white-heading {
  color: #fff;
  text-transform: none;
  font-size: 4.41rem;
  font-weight: bold;
}

.blurb-container{
  max-width: 586px;
  line-height: 1.3;
  margin-top: 5px;
   p {
     font-size: 1.5rem;
     font-weight: lighter;
   }

   .blurb-heading {
     font-weight: 400;
     font-size: 2.21rem;
   }
}

.blurb-heading {
  font-weight: 400;
  font-size: 2.21rem;
  margin: -11px 0 0 0;
}



.ucsd-logo {
  background-image: url(../images/sprite_base2x.png);
  background-size: 500px 120px;
  background-position-x: -334px;
  background-position-y: 38px;
  margin-top: 23px;
  height: 41px;
  width: 167px;
}

.dark-header {
  background-color: rgba(49, 65, 88, 0.90);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  &.navbar-expand-md .ucsd-logo {
    margin-top: 0;
  }

  &.navbar-expand-md .navbar-nav {
    margin-top: 0;
  }
}

.white-heading-small {
  font-size: 46px;
  font-weight: 400;
  max-width: 684px;
  margin: 0 auto;
  color: #fff;
  padding-bottom: 56px;
  line-height: 1;
}

.white-heading-xl {
  font-size: 107px;
  font-weight: bold;
  max-width: 687px;
  margin: 0 auto;
  color: #fff;
  padding-bottom: 46px;
  text-transform: uppercase;
}

.black-heading-md {
  font-size: 53px;
  font-weight: 400;
  max-width: 790px;
  margin: 0 auto;
  color: #000;
}

.black-context {
  max-width: 810px;
  margin: 0 auto;
  font-size: 23px;
}

.jumbotron{
  margin-bottom: 0;
  &.half-solid-blue{
        background: linear-gradient($primary-blue 50%, #FFF 50%);
        padding-top: 103px;
        padding-bottom: 109px;
      }
  &.half-solid-yellow{
        background: linear-gradient($yellow 50%, #FFF 50%);
      }
  &.half-solid-white{
        background: linear-gradient($white-overlay 60%, #FFF 50%), url('https://department.ucsd.edu/_images/image-library/cta/scientist-with-beaker.png');
        background-size: cover;
      }
  &.feature-1{
        background: url('../images/feature-1.jpg');
        background-size: cover;
      }
  &.feature-2{
        background: linear-gradient($white-overlay 808px, #FFF 50%), url('../images/feature-2.jpg');
        background-size: 100%, 100%;
  }
  &.feature-3{
        background: url('../images/feature-3.jpg');
        background-size: 100%, 100%;
  }

}

.intro-text {
  max-width: 826px;
}

.mobile-app-preview {
  max-width: 283px;
  margin-top: 161px;
  padding: 0;
}

.badge-container {
  margin: 75px 0 100px 0;
}

.apple-badge {
}

.badge-app {
  max-width: 283px;
   &:first-child {
     margin-right: 24px;
   }
}

.jumbotron-tall {

  font-size: 1.2rem;
  position: relative;
  height: 808px;

    h1 {
      color: #152035;
      font-weight: 900;
      font-size: 95px;
      word-spacing: 5px;
      margin-bottom: 53px;
      position: absolute;
      padding-left: 15px;
      bottom: 0;
      max-width: 830px;

      &.right {
          right: 0;
          text-align: right;
      }

    }

    /*.row:first-child {
    margin-top: 588px;
    }*/

  .trident-yellow {
    margin-top: 450px;
  }

}

.trident-yellow {
  height: 750px;
  position: absolute;
  right: 0;
}

.device {
  width: 283px;
  height: 580px;
  margin-top: 22px;
}

.device-container {
  margin-top: -150px;
  z-index: 2;
}

.feature {
    position: relative;
    padding-bottom: 130px;
}

.feature-trident {
    position: absolute;
    bottom: 150px;
    z-index: 1;
    width: 800px;
    height: auto;

      &.left {
        left: 0px;
      }

      &.right {
        right: 0px;
      }
}

.feature-title-container {
  position: relative;
  height: 744px;
}

.feature-container {
  padding-bottom: 109px;

  h2 {

    font-weight: 500;
    font-size: 53px;
  }

}

.feature-list-container {
  z-index: 2;
}

.feature-list {
  padding-top: 40px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.tech-support {
  margin: 20px auto 40px auto;
}

@media only screen and (min-width: 767px) {

  .intro-heading {

  }
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "BrixSansRegular";
  src: url("./fonts/BrixSansRegular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/BrixSansRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/BrixSansRegular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/BrixSansRegular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/BrixSansRegular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/BrixSansRegular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/BrixSansRegular.woff2") format("woff2"); /* Modern Browsers */
}
