/* Show it is fixed to the top */
body {
  min-height: 75rem;
  /*padding-top: 4.5rem;*/
  font-family: Brix Sans;
  src: url(../fonts/BrixSansRegular.otf);
}

h1, h2, h3, h4 {
  color: #000;
}

.navbar-nav {
  margin-top: 25px;
}

a.nav-link {
  margin-left: 72px;
  color: #FFF !important;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.intro-jt {
  background: linear-gradient(transparent 47%, #FFF 47%), url("../images/header-image.jpg") !important;
  background-size: cover !important;
}

.strong-heading {
  text-transform: uppercase;
  font-weight: bold;
}
.strong-heading.intro-heading {
  margin: 285px 0 1px 0;
  font-size: 4.5rem;
}

.white-heading {
  color: #fff;
  text-transform: none;
  font-size: 4.41rem;
  font-weight: bold;
}

.blurb-container {
  max-width: 586px;
  line-height: 1.3;
  margin-top: 5px;
}
.blurb-container p {
  font-size: 1.5rem;
  font-weight: lighter;
}
.blurb-container .blurb-heading {
  font-weight: 400;
  font-size: 2.21rem;
}

.blurb-heading {
  font-weight: 400;
  font-size: 2.21rem;
  margin: -11px 0 0 0;
}

.ucsd-logo {
  background-image: url(../images/sprite_base2x.png);
  background-size: 500px 120px;
  background-position-x: -334px;
  background-position-y: 38px;
  margin-top: 23px;
  height: 41px;
  width: 167px;
}

.dark-header {
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.white-heading-small {
  font-size: 46px;
  font-weight: 400;
  max-width: 684px;
  margin: 0 auto;
  color: #fff;
  padding-bottom: 56px;
  line-height: 1;
}

.white-heading-xl {
  font-size: 86px;
  font-weight: bold;
  max-width: 684px;
  margin: 0 auto;
  color: #fff;
  padding-bottom: 46px;
  text-transform: uppercase;
}

.jumbotron {
  margin-bottom: 0;
}
.jumbotron.half-solid-blue {
  background: linear-gradient(#44526f 50%, #FFF 50%);
  padding-top: 103px;
  padding-bottom: 109px;
}
.jumbotron.half-solid-yellow {
  background: linear-gradient(#fedb65 50%, #FFF 50%);
}
.jumbotron.half-solid-white {
  background: linear-gradient(#e9ecef00 60%, #FFF 50%), url("https://department.ucsd.edu/_images/image-library/cta/scientist-with-beaker.png");
  background-size: cover;
}
.jumbotron.feature-1 {
  background: linear-gradient(#e9ecef00 808px, #FFF 50%), url("../images/feature-1.jpg");
  background-size: cover;
}
.jumbotron.feature-2 {
  background: linear-gradient(#e9ecef00 808px, #FFF 50%), url("../images/feature-2.jpg");
  background-size: cover;
}
.jumbotron.feature-3 {
  background: linear-gradient(#e9ecef00 808px, #FFF 50%), url("../images/feature-3.jpg");
  background-size: cover;
}

.intro-text {
  max-width: 826px;
}

.mobile-app-preview {
  max-width: 283px;
  margin-top: 161px;
  padding: 0;
}

.badge-container {
  margin: 75px 0 100px 0;
}

.badge-app {
  max-width: 283px;
}
.badge-app:first-child {
  margin-right: 24px;
}

.jumbotron-tall h1 {
  font-weight: bold;
  font-size: 60px;
}
.jumbotron-tall .row:first-child {
  margin-top: 315px;
}

.trident-yellow {
  height: 750px;
  position: absolute;
  right: 0;
}

.device {
  width: 240px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

/*# sourceMappingURL=styles.css.map */
