$primary-blue: #44526f;
$yellow: #fedb65;

/* Show it is fixed to the top */
body {
  min-height: 75rem;
  /*padding-top: 4.5rem;*/
}


h1, h2, h3, h4 {
  color: #000;
}

.strong-heading {
  text-transform: uppercase;
  font-weight: bold;

    &.intro-heading {
      margin-top: 158px;
    }

}

.white-heading {
  color: #fff;
  text-transform: none;
  font-size: 3.4rem;
  font-weight: bold;
}



.ucsd-logo {
  background-image: url(../images/sprite_base2x.png);
  background-size: 500px 120px;
  width: 167px;
  height: 41px;
  background-position-x: -337px;
  background-position-y: 38px;
}

.dark-header {
  background-color: rgba(51, 51, 51, 0.90);
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.jumbotron{
  margin-bottom: 0;
  &.half-solid-blue{
        background: linear-gradient($primary-blue 50%, #FFF 50%);
      }
  &.half-solid-yellow{
        background: linear-gradient($yellow 50%, #FFF 50%);
      }
}

.mobile-app-preview {
  margin-top: 150px;
}

.apple-badge {
  margin-left: -22px;
}
